{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empresas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomempresa</th>
                <th>Mision</th>
                <th>Vision</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td><a href="{{ path('empresa_show', { 'id': empresa.id }) }}">{{ empresa.id }}</a></td>
                <td>{{ empresa.nomempresa }}</td>
                <td>{{ empresa.mision }}</td>
                <td>{{ empresa.vision }}</td>
                <td>{{ empresa.telefono }}</td>
                <td>{{ empresa.direccion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('empresa_show', { 'id': empresa.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('empresa_edit', { 'id': empresa.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empresa_new') }}">Create a new empresa</a>
        </li>
    </ul>
{% endblock %}
