{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empleados list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Ci</th>
                <th>Prnombre</th>
                <th>Prapellido</th>
                <th>Sexo</th>
                <th>Edocivil</th>
                <th>Fecnac</th>
                <th>Canthijos</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Sueldo</th>
                <th>Empresa</th>
                <th>Cargo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empleado in empleados %}
            <tr>
                <td><a href="{{ path('empleado_show', { 'id': empleado.id }) }}">{{ empleado.id }}</a></td>
                <td>{{ empleado.ci }}</td>
                <td>{{ empleado.prnombre }}</td>
                <td>{{ empleado.prapellido }}</td>
                <td>{{ empleado.sexo }}</td>
                <td>{{ empleado.edocivil }}</td>
                <td>{% if empleado.fecnac %}{{ empleado.fecnac|date('Y-m-d') }}{% endif %}</td>
                <td>{{ empleado.canthijos }}</td>
                <td>{{ empleado.telefono }}</td>
                <td>{{ empleado.direccion }}</td>
                <td>{{ empleado.sueldo }}</td>
                <td>{{ empleado.codempresa }}</td>
                <td>{{ empleado.codcargo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('empleado_show', { 'id': empleado.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('empleado_edit', { 'id': empleado.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empleado_new') }}">Create a new empleado</a>
        </li>
    </ul>
{% endblock %}
