{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empleado</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empleado.id }}</td>
            </tr>
            <tr>
                <th>Ci</th>
                <td>{{ empleado.ci }}</td>
            </tr>
            <tr>
                <th>Prnombre</th>
                <td>{{ empleado.prnombre }}</td>
            </tr>
            <tr>
                <th>Prapellido</th>
                <td>{{ empleado.prapellido }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ empleado.sexo }}</td>
            </tr>
            <tr>
                <th>Edocivil</th>
                <td>{{ empleado.edocivil }}</td>
            </tr>
            <tr>
                <th>Fecnac</th>
                <td>{% if empleado.fecnac %}{{ empleado.fecnac|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Canthijos</th>
                <td>{{ empleado.canthijos }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ empleado.telefono }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ empleado.direccion }}</td>
            </tr>
            <tr>
                <th>Sueldo</th>
                <td>{{ empleado.sueldo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empleado_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('empleado_edit', { 'id': empleado.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
