{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cargo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cargo.id }}</td>
            </tr>
            <tr>
                <th>Nomcargo</th>
                <td>{{ cargo.nomcargo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ cargo.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cargo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cargo_edit', { 'id': cargo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
